<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cnrl.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cnrl.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cnrl</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$cnrl</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Identity.cnrlEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=avroadsql.cloudapp.net,57500;Initial Catalog=cnrl;Persist Security Info=True;User ID=avroaddb;Password=laredcreativa;Application Name=EntityFramework" Name="Data Source=avroadsql.cloudapp.net,57500;Initial Catalog=cnrl;Persist Security Info=True;User ID=avroaddb;Password=laredcreativa;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Identity.cnrlEntities, Identity" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="socioculturalesEntities" Order="4" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.200.119\ANAKIN;Initial Catalog=socioculturalesProduccion;Persist Security Info=True;User ID=sa;Password=ciclope123ciclope;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\socioculturalesEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/base.csdl|res://*/base.ssdl|res://*/base.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.200.119\ANAKIN;initial catalog=socioculturalesProduccion;persist security info=True;user id=sa;password=ciclope123ciclope;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Cnrl" Order="5" Enabled="False" xmlns="">
          <Destination Path="Data Source=avroadsql.cloudapp.net,57500;Initial Catalog=cnrl;Persist Security Info=True;User ID=avroaddb;Password=laredcreativa;Application Name=EntityFramework" Name="Data Source=avroadsql.cloudapp.net,57500;Initial Catalog=cnrl;Persist Security Info=True;User ID=avroaddb;Password=laredcreativa;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.200.119\ANAKIN;Initial Catalog=socioculturalesProduccion;Persist Security Info=True;User ID=sa;Password=ciclope123ciclope;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Cnrl_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=10.10.200.119\ANAKIN;initial catalog=socioculturalesProduccion;persist security info=True;user id=sa;password=ciclope123ciclope;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Cnrl-Web.config Connection String">
      <ParameterValue>data source=avroadsql.cloudapp.net,57500;initial catalog=cnrl;persist security info=True;user id=avroaddb;password=laredcreativa;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Identity.cnrlEntities-Web.config Connection String">
      <ParameterValue>Data Source=avroadsql.cloudapp.net,57500;Initial Catalog=cnrl;Persist Security Info=True;User ID=avroaddb;Password=laredcreativa;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Identity.cnrlEntities" />
  </ItemGroup>
</Project>