@*@using cnrl
@model cnrl.ViewModels.Dashboard*@

@{
    ViewBag.Titulo = "Panel de Control";
    ViewBag.Subtitulo = "Estadísticas";
}

<div class="row">
    
</div>

@section scripts
{
    <script>
        $(function () {
            activarMenu('Home');
        });
    </script>
}